body {
    font-family: "arial";
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

h1 {
    text-align: center;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: grey;
}
